body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient( to right top, hsl(220, 73%, 57%), hsl(200, 73%, 57%), hsl(205, 73%, 57%));
}

.app {
    margin: 0 auto;
    padding: 2rem;
    height: 70vh;
    width: 70vw;
    border-radius: 10px;
    box-shadow: 8px 4px 10px 1px hsl(210, 73%, 57%);
    background-color: hsla(225, 73%, 57%, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}